# $LAB-1$ $(26-07-2023)$

$Hitesh$ $Salimath$</br>
$2347118$</br>
$1MCA$ $A$</br>

## $Question$ $1:$ Strings

#### QUESTION 1(A):

In [12]:
about = ("BMTC - Bengaluru Metroplitan Transport Corporation, is a state owned public road transport corporation in Bengaluru.\
    BMTC is completely owned by the state government of Karnataka to look after it's operations inside the city.\
    BMTC has multiple depots with good number of AC and Non-AC busses.\
    BMTC also provides affordable price to the residets of Bengaluru with provisons like special passes to students, recently they are giving free services to ladies.\
    The government also invest a very huge amount to add the latest verified technology to the systems of BMTC.")

print(about)

BMTC - Bengaluru Metroplitan Transport Corporation, is a state owned public road transport corporation in Bengaluru.    BMTC is completely owned by the state government of Karnataka to look after it's operations inside the city.    BMTC has multiple depots with good number of AC and Non-AC busses.    BMTC also provides affordable price to the residets of Bengaluru with provisons like special passes to students, recently they are giving free services to ladies.    The government also invest a very huge amount to add the latest verified technology to the systems of BMTC.

PART(1):

In [36]:
about_str = about.split() # split function is used to divide the paragraph into individual elments in a list format
print(about_str)
cnt = about_str.count('BMTC') # The count function will count the total number of elements in the paragraph list
print("The domain name is repeated",cnt," times in the paragraphed text.")

['BMTC', '-', 'Bengaluru', 'Metroplitan', 'Transport', 'Corporation,', 'is', 'a', 'state', 'owned', 'public', 'road', 'transport', 'corporation', 'in', 'Bengaluru.', 'BMTC', 'is', 'completely', 'owned', 'by', 'the', 'state', 'government', 'of', 'Karnataka', 'to', 'look', 'after', "it's", 'operations', 'inside', 'the', 'city.', 'BMTC', 'has', 'multiple', 'depots', 'with', 'good', 'number', 'of', 'AC', 'and', 'Non-AC', 'busses.', 'BMTC', 'also', 'provides', 'affordable', 'price', 'to', 'the', 'residets', 'of', 'Bengaluru', 'with', 'provisons', 'like', 'special', 'passes', 'to', 'students,', 'recently', 'they', 'are', 'giving', 'free', 'services', 'to', 'ladies.', 'The', 'government', 'also', 'invest', 'a', 'very', 'huge', 'amount', 'to', 'add', 'the', 'latest', 'verified', 'technology', 'to', 'the', 'systems', 'of', 'BMTC.']
The domain name is repeated 5  times in the paragraphed text.

PART(2):

In [41]:
num_lines = 0
i = 0

for i in about:
    if i == '.':
        num_lines += 1 # Th loop will check for "." in the paragraph and increnments value of number of lines by 1 whenever found.
    
print("There are",num_lines,"lines in the paragraph text")

no_words = len(about_str) # Using the len funtion we can find the total number of elenets in the paragraph(list).
print("The total number of words in the paragraph text: ",no_words)

no_characters = len(about) # Using th len function again we can find the total number of characters in the paragraph(tupple).
print("The total number of characters in the paragraph text: ",no_characters)

There are 5 lines in the paragraph text
The total number of words in the paragraph text:  90
The total number of characters in the paragraph text:  575

PART(3):

In [126]:
domain_name = ("BMTC")
order = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
in_order = []

print("There are",len(domain_name), "characters in the domain name",domain_name,". \nThe alphabetical order of the characters will be as follows:")#\n prints values in next line

for i in order: #for loop checks for each character with the order of the characters that is assigned and appends to the empty list for each correct order of alphabets.
    if i == domain_name[0]:
        in_order.append(i)
    elif i == domain_name[1]:
        in_order.append(i)
    elif i == domain_name[2]:
        in_order.append(i)
    elif i == domain_name[3]:
        in_order.append(i)

final_order = ("".join(in_order[0:len(in_order)])) #The .join function merges the elements inside a list.
print(final_order)

There are 4 characters in the domain name BMTC .
The alphabetical order of the characters will be as follows:
BCMT

#### QUSTION 1(B):

In [116]:
print("The name of the domain is: ",[domain_name])

n = int(input("Enter the encriptin value"))

print("The encrypt value is: ",n)

fin_en = []

for i in domain_name: #forloop identifies the first charachter and increments the ASCII value of the character and appends the converted character to empty list.
    ascii = chr(ord(i)+n) #ord() function gives ASCII representation of character and chr() function converts ASCII representation of character to character.
    fin_en.append(ascii)
encrypted = [''.join(fin_en[0:len(fin_en)])] #merging of appended list of encrypted characters 
print("The encrypted text of the domain is: ",(encrypted))

The name of the domain is:  ['BMTC']
The encrypt value is:  5
The encrypted text of the domain is:  ['GRYH']

## $Question$ $2:$ Functions

In [29]:
def pay(wage,hrs):
    if hrs<=40:
        initial_pay = wage*hrs
        print("The pay for the employee working for",hrs,"hours will be paid",initial_pay,"rupees.")
    elif hrs > 40:
        initial_pays = 40*wage
        ot_pay = (hrs - 40)*(wage*1.5)
        final_pays = initial_pays + ot_pay
        print("The pay for the employee working for",hrs,"hours will be paid",final_pays,"rupees.")

In [30]:
pay(10,35)
pay(10,45)
pay(10,40)

The pay for the employee working for 35 hours will be paid 350 rupees.
The pay for the employee working for 45 hours will be paid 475.0 rupees.
The pay for the employee working for 40 hours will be paid 400 rupees.

## $Question$ $3:$ Tuples

In [45]:
# bmtc busses for hire per day ('bus tye',no.of seats,price)
buses = [('ordinary',45,25000),('volvo',30,45000),('janapriya',40,32500)]
print(buses)

[('ordinary', 45, 25000), ('volvo', 30, 45000), ('janapriya', 40, 32500)]

$(a)$

$(b)$

$(c)$

In [36]:
print("Alphebetical order of the first string will be as follows: ")
sorted(buses) # The sorted function sorts the list based on the first element inside the tuples.

Alphebetical order of the first string will be as follows:

[('janapriya', 40, 32500), ('ordinary', 45, 25000), ('volvo', 30, 45000)]