# $P7$
$2347118$ $Hitesh$ $Salimath$

Create an Employee table using a Structured array and answer the questions.

In [5]:
import numpy as np

dtype = [('Emp_id', 'i8'),
         ('Last_name', 'U8'),
         ('First_name','U8'),
         ('Gender','U8'),
         ('Title','U8')]

emp_data = np.array([(1000,'Torbati','Yolanda','F','Programmer'),
                (1001,'Kleinn','Joel','M','Programmer'),
                (1002,'Ginsburg','Laura','F','President'),
                (1003,'Cox','Jennifer','F','Programmer'),
                (1005,'Ziada','Mauri','M','Product Designer'),
                (1006,'Keyser','Cara','F','Account Executive'),
                (1010,'Smith','Roxie','M','Programmer'),
                (1011,'Nelson','Robert','M','Programmer'),
                (1012,'Sachsen','Lars','M','Support Technicians'),
                (1013,'Shannon','Don','M','Product Designer')],dtype = dtype)

print(dtype)
print("\n",data)

[('Emp_id', 'i8'), ('Last_name', 'U8'), ('First_name', 'U8'), ('Gender', 'U8'), ('Title', 'U8')]

 [['1000' 'Torbati' 'Yolanda' 'F' 'Programmer']
 ['1001' 'Kleinn' 'Joel' 'M' 'Programmer']
 ['1002' 'Ginsburg' 'Laura' 'F' 'President']
 ['1003' 'Cox' 'Jennifer' 'F' 'Programmer']
 ['1005' 'Ziada' 'Mauri' 'M' 'Product Designer']
 ['1006' 'Keyser' 'Cara' 'F' 'Account Executive']
 ['1010' 'Smith' 'Roxie' 'M' 'Programmer']
 ['1011' 'Nelson' 'Robert' 'M' 'Programmer']
 ['1012' 'Sachsen' 'Lars' 'M' 'Support Technicians']
 ['1013' 'Shannon' 'Don' 'M' 'Product Designer']]

#### 1. How many Male employees are in a company?

In [11]:
gen = emp_data['Gender']
male_emp = 0
female_emp = 0

for i in gen:
    if(i=='M'):
        male_emp += 1
    elif(i=='F'):
        female_emp+=1

print(f"There are {male_emp} male employees in the company")

There are 6 male employees in the company

#### 2. Display the details of employees whose Last_Name starts with S.

In [22]:
l_name = emp_data['Last_name']

print("\nThe details of employees whose Last_Name starts with S are: ")
print("\n",dtype)
ind = 0

for i in l_name:
    if(i[0]=='S'):
        print(emp_data[ind])
    ind += 1

The details of employees whose Last_Name starts with S are:

 [('Emp_id', 'i8'), ('Last_name', 'U8'), ('First_name', 'U8'), ('Gender', 'U8'), ('Title', 'U8')]
(1010, 'Smith', 'Roxie', 'M', 'Programm')
(1012, 'Sachsen', 'Lars', 'M', 'Support ')
(1013, 'Shannon', 'Don', 'M', 'Product ')

#### 3. Sort the Female Employee details in descending order based on First_Name.

In [26]:
fem_emp_data = emp_data[np.where(emp_data['Gender'] == 'F')]

sorted_fem_emp = np.sort(fem_emp_data,order='First_name')
print("The sorted female employees based of first name are:\n\n",sorted_fem_emp)

The sorted female employees based of first name are:

 [(1006, 'Keyser', 'Cara', 'F', 'Account ')
 (1003, 'Cox', 'Jennifer', 'F', 'Programm')
 (1002, 'Ginsburg', 'Laura', 'F', 'Presiden')
 (1000, 'Torbati', 'Yolanda', 'F', 'Programm')]

#### 4. Extract 1D array and reshape it into 2D array.

In [41]:
arr1D = list(emp_data[2])
print('Input array is', arr1D)

Reshaped_array = np.reshape(arr1D[:4],(2,2))
print("The reshaped array is :\n ",Reshaped_array)

[1002, 'Ginsburg', 'Laura', 'F', 'Presiden']
The reshaped array is :
  [['1002' 'Ginsburg']
 ['Laura' 'F']]

#### 5. Extract the below matrix using Boolean and Fancy indexing.

In [49]:
#col 0,1,4
#rows 2 to 8
extraxt = np.array([0,0,1,1,1,1,1,1,1,0],dtype=bool)

extr_arr = emp_data[extraxt]
print(extr_arr)

[(1002, 'Ginsburg', 'Laura', 'F', 'Presiden')
 (1003, 'Cox', 'Jennifer', 'F', 'Programm')
 (1005, 'Ziada', 'Mauri', 'M', 'Product ')
 (1006, 'Keyser', 'Cara', 'F', 'Account ')
 (1010, 'Smith', 'Roxie', 'M', 'Programm')
 (1011, 'Nelson', 'Robert', 'M', 'Programm')
 (1012, 'Sachsen', 'Lars', 'M', 'Support ')]